* {
    font-family: Arial, Helvetica, sans-serif;

}

#input-label {
    font-size: 18px;
    color: #ECECEC;
}

#input-wrapper {
    display: flex;
    flex-direction: column;
}

#input-main {
    height: 40px;
    box-sizing: border-box;
    padding: auto 10px;
    border: 1px solid #ECECEC;
    border-radius: 10x;
    color: #BCBABE;
    
}