* {
    font-family: Arial, Helvetica, sans-serif;
}

#login-form {
    padding: 50px 100px;
    width: 20vw;
    background-color: #ffffff;
    border-radius: 10px;
    margin: auto;
    /* border: 1px #A4BF9D solid; */
}

#login-form > h2 {
    font-size: 40px;
    text-align: center;
    margin: 30px 0px;
}

#login-btn {
    font-size: 18px;
    color: white;
    width: 100%;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: linear-gradient(to right, #A1ABF3, #74E8D3);
}

#to-login {
    margin-top: 50px;
    text-align: center;
}